<div class="wrapper">
        <form class="register__form" #registerForm="ngForm" (ngSubmit)="register()" autocomplete="end" >
                <div class="headline">
                    <h2>Sign up</h2>
                </div>
                <hr>
                <div>
                    <input type="text" 
                    class="form-control"
                    name="UserName"
                    [(ngModel)]="model.UserName"
                    placeholder="Username">
                </div>
            
                <div> 
                    <input type="password" 
                    class="form-control"
                    name="password"
                    [(ngModel)]="model.password"
                    placeholder="Password">
                </div>
            
                <div>
                    <button class="btn btn-success" type="submit">Register</button>
                    <button class="btn btn-default" type="button" (click)="cancel()">Cancel</button>
                </div>
        </form>
</div>




