@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import "../../styles";

* {
  color: $text-color;
  font-family: $font-family;
}

.wrapper {
  height: fit-content;
  @include container-centered;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border: 0;
  border-radius: 1rem;
  box-shadow: 1rem 3rem 3rem 3rem #d6d3d3;
  padding: 1rem;
}

hr {
  width: 75%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
}

.register__form {
  @include container-centered;
  text-align: center;
  justify-content: center;
  width: 500px;
  min-width: $min-width;
  max-width: 100%;
  height: max-content;

  button {
    color: $nav-text-color;
    background-color: $button-color;
    margin: 0.5rem 1rem 1rem 1rem;
    padding: 0.25rem 1rem;
    @include rounded-button;
    &:hover {
      background-color: $button-color-darker;
    }
  }
}

.reg__container {
  margin-bottom: 16%;
}
