.container {
    justify-content: center;
    align-items: center;
    padding:  2rem 4rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 192px);
    justify-content: center;
}